#page2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#search-button-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#add-task-button{
    width: 50%;
}

#add-word{
    width: 70px;
    height: 70px;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    right: -390px;
    bottom: 60px;
    border-radius: 70px;
    padding-top: 10px;
}

#page2-center {
    display: flex;
    flex-direction: column;
}

.required:after {
    content:" *";
    color: red;
}

#page1-container {
    background-color: black;
}

.item-container {
    padding: 5px;
}

.item-container .center {
    padding: 8px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: lightgray;
}


#no-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}